* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  width: 100vw;
  background-color: #556b2f;
  color: #fff;
  font-family: "Trebuchet MS", Arial;
}
h1 {
  text-align: center;
  margin-bottom: 30px;
}

#game {
  display: flex;
}
.game-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.genre-column {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card {
  width: 200px;
  height: 120px;
  border-radius: 20px;
  background-color: #8fbc8f;
  text-align: center;
  padding: 5px;
  margin: 10px;
  border: 2px dashed #fff;
  font-size: 100px;
}

.correct-answer {
  background-color: #f18760;
}
.wrong-answer {
  background-color: #c73b1e;
}
.btn {
  background-color: #bdb76b;
  color: #fff;
  border: 1px solid #fff;
  width: 45px;
  border-radius: 3px;
}
.scoreboard {
  display: flex;
  align-items: center;
  justify-content: center;
}
